body {background-color: #d1d1d1;}
p{color: #0c0052;}
h1, h2 {color: #2600ff;}
a:link {color: #fc4e04;}
a:link {background-color: #fff6a9}
a:visited {color: #9831f9;}
a:hover {background-color: #f3028a;}
